<launch>
	<group ns="movement">
		
		<node pkg="turtlesim" name="teleop" type="turtle_teleop_key"/>
		<node pkg="controlled_turtlesim-v2" name="random_mover" type="random_mover"/>

		<node pkg="controlled_turtlesim-v2" name="binary_multiplexer_twist" 
			  type="binary_multiplexer_twist" output="screen">
			
			<param name="time" type="int" value="3"/>		
			<remap from="high" to="turtle1/cmd_vel"/>
			<remap from="low"  to="cmd_vel"/>

		</node>
	</group>

	<node pkg="turtlesim" name="simulator" type="turtlesim_node">
		<remap from="turtle1/cmd_vel" to="movement/out"/>
	</node>

</launch>
